.slh {
    width: 20px;
    position:fixed;
    right: 0;
    top:70px;
}

.sls {
    background-color: black;
    right: 0;
    height: 50px;
    width: 200px;
    position:fixed;
    top:60px;
}
.sls span{
    padding-top:10px;
    color: white;
}
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding-right:10px;
}

.colores {
    color:white;
}

.animate {
    transition: 0.5s;
}

.disabled {
   pointer-events: none;
   cursor: default;
}
.text{
    font-size: 18px;
    text-align:center;
    color:black;
}

.tableContainer-1 {
    padding-left: 15%;
    padding-right: 15%;
}

.whos{
    width: 300px;
    background-color: #DCDCDC;
}
.left-page{
    float:left;
    padding-bottom: 30px;
}
.right-page{
     float:left;
     padding-left: 5%;
     padding-bottom: 30px;
}


.main3 input, .contact_form textarea {
    border-radius:2px;
}

.main3 input[type=text], .contact_form textarea {
    border-radius:2px;
    background-color: #cccccc;
    background: linear-gradient(#bfbfbf, #cccccc, #bfbfbf);
    padding: 3px 10px;
    box-sizing: border-box;

}

.main3 input:focus, .main3 textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

.inputeffect, .main3 button {
    background-color: #4CAF50;

    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 3px 16px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
.mySpan{
    padding-top:12px;
    color: white;
    font-size:18px;
}

span:hover{
    color:gray;
}
.topnav2 {
    width:100%;
    top:65px;
    height:65px;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
.topnav2 span{
    padding-top:12px;
    color: white;
    font-size:18px;
}
.topnav2 span:hover{
    color:gray;
}
.another{
    padding-top:10px;
    padding-left:100px;
    float:left;
}
.another2{
    padding-top:10px;
    padding-right:20px;
    float:right;
}

.center{
    text-align: center;
}
