{% extends "mainMenu.html" %}
{% block content %}
<a class="active" href="/">Albumy</a>
<a  href="/repositories">Repozytoria</a>
<a class="glyphicon glyphicon-plus pos" href="/import">Dodaj muzykę</a>
{% endblock %}
{% block head %}
<div id="boxed" class="column2 pointer" style="display:block">
            <span id="list" onclick="switching(this.id,'box','0')" class="glyphicon glyphicon-th-list"></span>
            <span id="box" onclick="switching(this.id,'list')" class="glyphicon glyphicon-th active" ></span>
            <div class="dropdown">
                <span class="glyphicon glyphicon-option-vertical"></span>
                    <div class="dropdown-content">
                        <span id="0" onclick="sortAlb(this.id);" class="widthspan active">A-Z</span>
                        <span id="1" onclick="sortAlb(this.id);" class="widthspan">Artyści</span>
                        <span id="2" onclick="sortAlb(this.id);" class="widthspan">Roku</span>
                    </div>
            </div>
</div>
{% endblock %}

{% block content_body %}

<div id="local2" class="slh" style="display:block">
    <span onclick="openNavSL()" class="glyphicon glyphicon-chevron-left"></span>
</div>

<div id="local" class="sls" style="width:0;">
    <span onclick="closeNavSL()" class="glyphicon glyphicon-chevron-right"></span>
    <input type="text" onkeyup="searchLocal();" id="myInput" placeholder="Search">
    <i class="glyphicon glyphicon-search colores"></i>
    </input>
</div>

<div id="menu1" class="main2" style="display: block;">

    <div id="box0" class="container" style="display: block;">
        <div id="rows2" class="row">
            {% for i in range(albums|length) %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src={{ albums[i][1] }}/></div>
                            {% if albums[i][0].album == '' %}
                            <a href={{ "/details?id=" + albums[i][0].id|string }} id="albums[i][0].id" class="thumbnail purple">Nieznany album</a>
                            {% else %}
                            <a href={{ "/details?id=" + albums[i][0].id|string }} id="albums[i][0].id" class="thumbnail purple">{{ albums[i][0].album  }}</a>
                            {% endif %}
                        </div>
            {% endfor %}
        </div>
    </div>

    <div id="box1" class="container" style="display: none;">
        <div id="rows2" class="row">
            {% for i in range(artists|length) %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src={{ artists[i][1] }}/></div>
                            <a href={{ "/details?id=" + artists[i][0].id|string }} id="artists[i][0].id" class="thumbnail purple">{{ artists[i][0].album }}</a>
                        </div>
            {% endfor %}
        </div>
    </div>

    <div id="box2" class="container" style="display: none;">
        <div id="rows2" class="row">
            {% for i in range(years|length) %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src={{ years[i][1] }}/></div>
                            <a href={{ "/details?id=" + years[i][0].id|string }} id="years[i][0].id" class="thumbnail purple">{{ years[i][0].album }}</a>
                        </div>
            {% endfor %}
        </div>
    </div>



    <div id="list0" class="container" style="display: none;">
         <br>
                <table class="table">
                    {% for i in range(albums|length) %}
                        {% if i == 0 %}
                            <thead>
                                    <tr>
                                        <th>{{albums[i][0].album.0}}<th>
                                    </tr>
                                </thead>
                        {% elif albums[i][0].album.0 != albums[i-1][0].album.0 %}
                                <thead>
                                    <tr>
                                        <th>{{albums[i][0].album.0}}<th>
                                    </tr>
                                </thead>
                        {% endif %}
                            <td>
                                <div id="rows2" class="row">
                                        <div class="col-md-2 col-sm-4">
                                            <div class="dummy"><img class="my_pages" src="{{ albums[i][1] }}"/></div>
                                            <a href={{ "/details?id=" + albums[i][0].id|string }} id="{{ albums[i][0].id }}" class="thumbnail purple">{{ albums[i][0].album }}</a>
                                        </div>
                                </div>
                            </td>
                    {% endfor %}
                </table>
    </div>



    <div id="list1" class="container" style="display: none;">
         <br>
                <table class="table">
                    {% for i in range(artists|length) %}
                        {% if i == 0 %}
                            <thead>
                                    <tr>
                                        <th>{{artists[i][0].albumartist}}<th>
                                    </tr>
                                </thead>
                        {% elif artists[i][0].albumartist != artists[i-1][0].albumartist %}
                                <thead>
                                    <tr>
                                        <th>{{artists[i][0].albumartist}}<th>
                                    </tr>
                                </thead>
                        {% endif %}
                            <td>
                                <div id="rows2" class="row">
                                        <div class="col-md-2 col-sm-4">
                                            <div class="dummy"><img class="my_pages" src="{{ artists[i][1] }}"/></div>
                                            <a href={{ "/details?id=" + artists[i][0].id|string }} id="{{ artists[i][0].id }}" class="thumbnail purple">{{ artists[i][0].album }}</a>
                                        </div>
                                </div>
                            </td>
                    {% endfor %}
                </table>
    </div>

    <div id="list2" class="container" style="display: none;">

         <br>
                <table class="table">
                    {% for i in range(years|length) %}
                        {% if i == 0 %}
                            <thead>
                                    <tr>
                                        <th>{{years[i][0].year}}<th>
                                    </tr>
                                </thead>
                        {% elif years[i][0].year != years[i-1][0].year %}
                                <thead>
                                    <tr>
                                        <th>{{years[i][0].year}}<th>
                                    </tr>
                                </thead>
                        {% endif %}
                            <td>
                                <div id="rows2" class="row">
                                        <div class="col-md-2 col-sm-4">
                                            <div class="dummy"><img class="my_pages" src="{{ artists[i][1] }}"/></div>
                                            <a href={{ "/details?id=" + years[i][0].id|string }} id="{{ years[i][0].id }}" class="thumbnail purple">{{ years[i][0].album }} </a>
                                        </div>
                                </div>
                            </td>
                    {% endfor %}
                </table>

    </div>

    <div id="searching" class="container" style="display: none;">
        <div id="rows" class="row">
            {% for i in range(alphabets|length) %}
                {% for j in range(alphabets[i].path|length) %}
                    {% if alphabets[i].path[j] == 'brak' and alphabets[i].album[j]=='Nieznany album'%}
                        <div id="dd{{alphabets[i].ids[j]}}" class="col-md-2 col-sm-4" style="display: block;">
                            <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                            <a href="#{{alphabets[i].ids[j]}}" id="{{alphabets[i].ids[j]}}" class="thumbnail purple">Nieznany album</a>
                        </div>
                        {% elif alphabets[i].album[j]!='Nieznany album' and alphabets[i].path[j] == 'brak' %}
                            <div  id="dd{{alphabets[i].ids[j]}}" class="col-md-2 col-sm-4" style="display: block;">
                                <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                                <a href="#{{alphabets[i].ids[j]}}" id="{{alphabets[i].ids[j]}}" class="thumbnail purple">{{alphabets[i].album[j]}}</a>
                            </div>
                        {% else %}
                            <div id="dd{{alphabets[i].ids[j]}}"  class="col-md-2 col-sm-4" style="display: block;">
                            <div class="dummy"><img class="my_pages" src="{{alphabets[i].path[j]}}"/></div>
                            <a href="#{{alphabets[i].ids[j]}}" id="{{alphabets[i].ids[j]}}" class="thumbnail purple">{{alphabets[i].album[j]}}</a>
                        </div>
                        {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
