{% extends "mainMenu.html" %}
{% block content %}
<label>TWOJA BIBLIOTEKA</label>
<a href="/">Albumy</a>
<a class="active" href="/artists">Artyści</a>
<a href="/years">Rok produkcji</a>
<a href="/songs">Muzyka</a>
<a href="/files_editions">Edycja plików</a>
{% endblock %}
{% block content_body %}
<div class="main2">
	
<div class="container">
	<div class="row">
        {% for i in range(result|length) %}
            {% if result[i][0]!= "" and result[i][1]!="" %}
                 <div class="col-md-4 col-sm-4">
                    <div class="dummy"><img class="my_pages" src="{{result[i][1]}}"/></div>
                    <a href="#x" class="thumbnail purple">{{result[i][0]}}</a>
                </div>
                
            {% elif result[i][0]!= "" and result[i][1]=="" %}
                 <div class="col-md-4 col-sm-4">
                    <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                    <a href="#x" class="thumbnail purple">{{result[i][0]}}</a>
                </div>
            {% else %}
                <div class="col-md-4 col-sm-4">
                    <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                    <a href="#x" class="thumbnail purple">Nieznany album</a>
                </div>
            {% endif %}
      {% endfor %}
      </div>
      
</div>
{% endblock %}
