{% extends "mainMenu.html" %}
{% block content %}
<a href="/">Albumy</a>
<a class="active" href="/artists">Artyści</a>
<a href="/songs">Utwory</a>
{% endblock %}

{% block head %}
<div class="column2 pointer">
    <span id="list" onclick="switching2(this.id,'box')" class="glyphicon glyphicon-th-list"></span>
    <span id="box" onclick="switching2(this.id,'list')" class="glyphicon glyphicon-th active" ></span>
</div>

{% endblock %}

{% block content_body %}
<div id="art" class="main2">
    <div id="box0" class="container" style="display: block;">
        <div class="row">
            {% for i in range(arts|length) %}
                {% for j in range(arts[i].path|length) %}
                    {% if arts[i].artist[j]== "" and arts[i].path[j]=="brak" %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                            <a href="#x" class="thumbnail purple">Nieznany album</a>
                        </div>
                    {% elif arts[i].artist[j]!= "" and arts[i].path[j]=="brak" %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                            <a href="#x" class="thumbnail purple">{{arts[i].artist[j]}}</a>
                        </div>
                    {% else %}
                        <div class="col-md-2 col-sm-4">
                            <div class="dummy"><img class="my_pages" src="{{arts[i].path[j]}}"/></div>
                            <a href="#x" class="thumbnail purple">{{arts[i].artist[j]}}</a>
                        </div>
                        
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    
     <div id="list0" class="container" style="display: none;">
         {% for i in range(arts|length) %}
                <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{arts[i].letter}}<th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <div class="row">
                                  {% for j in range(arts[i].path|length) %}
                                            {% if arts[i].artist[j]== "" and arts[i].path[j]=="brak" %}
                                                <div class="col-md-2 col-sm-4">
                                                    <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                                                    <a href="#x" class="thumbnail purple">Nieznany album</a>
                                                </div>
                                            {% elif arts[i].artist[j]!= "" and arts[i].path[j]=="brak" %}
                                                <div class="col-md-2 col-sm-4">
                                                    <div class="dummy"><img class="my_pages" src="../static/images/image-not-found.jpg"/></div>
                                                    <a href="#x" class="thumbnail purple">{{arts[i].artist[j]}}</a>
                                                </div>
                                            {% else %}
                                                <div class="col-md-2 col-sm-4">
                                                    <div class="dummy"><img class="my_pages" src="{{arts[i].path[j]}}"/></div>
                                                    <a href="#x" class="thumbnail purple">{{arts[i].artist[j]}}</a>
                                                </div>
                                                
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        {% endfor %}
    </div> 
    
</div>
{% endblock %}
