{% extends "mainMenu.html" %}

{% block content %}
<a href="/">Albumy</a>
<a href="/artists">Artyści</a>
<a href="/songs">Utwory</a>
{% endblock %}

{% block head %}
{% endblock %}

{% block content_body %}
    {% set detailslen = details|length %}
    {% set albkeylen = dictionary.album_keys|length %}
    {% set itemkeylen = dictionary.item_keys|length %}

    <form action="/edit-data" method="post">
        {% for i in range(details|length) %}
            <img src={{ details[i][1] }} alt="Album cover"> <br>
            <table cass = "table">
                {% for j in range(albkeylen) %}
                    <tr>
                        <td> {{ dictionary.language_album[j] }} </td>
                        <td><input type="text"  name={{ i*albkeylen + (details[i][3] - details[i][2]|length) * itemkeylen+j }} value='{{ details[i][0][dictionary.album_keys[j]] }}' /></td>
                    </tr>
                {% endfor %}
            </table>

            <table class="table">
                <tr>
                {% for k in range(itemkeylen) %}
                    <td> {{ dictionary.language_item[k] }} </td>
                {% endfor %}
                </tr>
                {%for j in range(details[i][2]|length) %}
                <tr>
                    {% for k in range(itemkeylen) %}
                        <td><input type="text"  name={{ i*albkeylen + itemkeylen * (details[i][3] - details[i][2]|length) + albkeylen + j * itemkeylen +k }} value='{{ details[i][2][j][dictionary.item_keys[k]] }}' /></td>
                    {% endfor %}
                </tr>
                {% endfor %}



            </table>
        {% endfor %}

        <button type="submit">Zapisz zmiany</button>
    </form>



{% endblock %}