{% extends "mainMenu.html" %}
{% block content %}
	<label>TWOJA BIBLIOTEKA</label>
	<a href="/albums">Albumy</a>
	<a href="/artists">Artyści</a>
	<a href="/years">Rok produkcji</a>
	<a href="/songs">Muzyka</a>
	<a class="active" href="/files_editions">Edycja plików</a>
{% endblock %}
{% block content_body %}
<div class="main">
	<br>
	<br>
	<br>
	<br>
	<form action="/startImporting" method="post">
	  <input type="text" name="Path"></input>
	  <input type="submit" value="Importuj"></input>
	</form>
</div>
{% endblock %}
