<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YAMO</title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap2.css') }}">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap3.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/styles.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/table-style.css') }}">
       <script type="text/javascript" charset="utf-8" src="../static/js/details.js"></script>
      <link href="../static/stylesheets/yamo2.ico" rel="shortcut icon">
      </head>
<body>
{% block body %}
{% endblock %}
</body>
