{% extends "layout.html" %}
{% block body %}


<div id="sidSearch" class="sidenav3" style="width:0;">
    <p>Dane</p>
</div>

<div id="searchMenu" class="main3 animate" style="display: none;">
    <p>Searching</p>
</div>
<div class="topnav">
        <div class="row2">
            <div class="column21">
                <img class="logo" src="../static/yamo3.jpg" align="left"/>
            </div>
            <div class="columbutton">
                    {% block content %}{% endblock %}
            </div>
            {% block head %}{% endblock %}
            <!--<div class="column22">
                <div class="search-container">
                    <input type="text" onkeyup="searchGlobal();" id="myInput2" placeholder="Search">
                        <i class="glyphicon glyphicon-search colores"></i>
                    </input>
                </div>
            </div>-->
    </div>
</div>
{% block content_body %}{% endblock %}

{% endblock %}
