{% extends "layout.html" %}
{% block body %}

<div id="sid2" class="sidenav2">
    <span onclick="openNav()" class="glyphicon glyphicon-chevron-right"></span>
</div>
<div id="sid" class="sidenav" style="width:0;">
    <div class="right">
     <span onclick="closeNav()" class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="left">
        <label>Muzyka</label>
        {% block content %}{% endblock %}
        <hr>
        <label>Zarządzanie muzyką</label>
        <a href="#" class="glyphicon glyphicon-plus pos">Dodaj utwór</a>
        <a href="#" class="glyphicon glyphicon-plus pos">Dodaj bibliotekę</a>
        <a href="#" class="glyphicon glyphicon-plus pos">Dodaj playlistę</a>
        <hr>
         <label>Moja playlista</label>
    </div>
  <!--<div class="playlists">
     <label class="wysrodkuj">PLAYLISTA</label>
    <p class="editions"> Example</p>
    
    <div class="newPlaylist">
    <a href="/">
        <span class="glyphicon glyphicon-plus"></span>
        Nowa playlista</a>
    </div>
    </div>-->
</div>

<div class="topnav">
        <div class="row2">
            <div class="column21">
                <img class="logo" src="../static/yamo3.png" align="left"/>
            </div>
            <div class="column22">
                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search"/>
                    <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        
                {% block head %}{% endblock %}
    </div>
</div>
{% block content_body %}{% endblock %}

{% endblock %}
