{% extends "mainMenu.html" %}
{% block content %}
<a href="/">Albumy</a>
<a href="/artists">Artyści</a>
<a class="active" href="/songs">Utwory</a>
{% endblock %}
{% block content_body %}
<div class="main3">
    <br class="more">
    <br>
    <table id="myTable" class="table2">
        <thead>
            <tr>
                <th>Tytuł <span id="0" onclick="sortTable(this.id,1)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="0" onclick="sortTable(this.id,2)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
                <th>Artysta <span id="1" onclick="sortTable(this.id,1)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="1" onclick="sortTable(this.id,2)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
                <th>Album <span id="2" onclick="sortTable(this.id,1)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="2" onclick="sortTable(this.id,2)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
                <th>Rodzaj <span id="3" onclick="sortTable(this.id,1)"  class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="3" onclick="sortTable(this.id,2)"  class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
                <th>Rok wydania albumu <span id="4" onclick="sortTable(this.id,1)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="4" onclick="sortTable(this.id,2)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
                <th>Czas <span id="5" onclick="sortTable(this.id,1)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span id="5" onclick="sortTable(this.id,2)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(titles|length) %}
                <tr>
                    {% for j in  range(titles[i]|length) %}
                        {% if titles[i][j]!='' %}
                            <td>{{titles[i][j]}}</td>
                        {% else %}
                             <td>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
